.card {
  width: 100%;
  background-color: gray;
  border-radius: 6px;
}

.post {
  background-color: white;
  max-width: 700px;
  margin: 0 auto;
}

.title {
  text-align: center;
  padding: 10px 20px;
  font-size: 16px;
}

.subReddit {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 10px 0;
}

.comments {
  width: 100%;
  margin: 40px 0;
}

.description {
  padding: 5px 20px;
  text-align: justify;
  font-size: 14px;
}

.media {
  flex-shrink: 1;
  max-width: 350px;
  display: block;
  padding: 5px 0;
}

.mediaContainer {
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
