.footer {
  min-height: 35px;
  padding: 10px;
  background: var(--header-color);
  color: var(--header-title-color);
  display: flex;
  align-items: center;
  position: sticky;
  bottom: 0;
}

.logo {
  width: 250px;
  padding-left: 20px;
}

.logoSpan {
  font-style: italic;
  font-weight: bold;
}

.contact {
  display: flex;
  flex: 1 2;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
}

.contact p {
  margin: 0 40px;
}

.contact p i {
  color: var(--footer-link);
  transition: all 0.3s linear;
}

.contact p i:hover {
  color: var(--text-color-light);
}

@media screen and (max-width: 480px) {
  .footer {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }

  .contact p {
    margin: 0 15px;
  }
}
