.card {
  padding: 10px;
  border-radius: 8px;
  background-color: gray;
  max-width: 400px;
  flex: 1 150px;
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  overflow: hidden;
}

.figure {
  max-width: 100%; /*To ensure media resizes proportionally */
  margin: 0 auto;
}

.media {
  width: 100%; /*To ensure media takes full width of the container */
  height: auto; /*Maintain aspect ratio while resizing */
}

.title {
  font-size: 14px;
  text-align: center;
}

.subReddit {
  display: flex;
  align-items: center;
  font-size: 10px;
  justify-content: space-around;
}
